/* Nori Styles */

h3.nori_headtitle {
	font-size:18px
				}

.nori-css ul.nori_articlelist {
  margin:0;
}

.nori_wrapper ul.nori_articlelist {
  padding:12px;
  background-color:rgba(255,255,255,0.2);
  border-radius:6px;
}

.introstuff {
  line-height:1.2em;
}

ul.nori_articlelist li {
	margin-bottom:6px;
	padding:4px 6px;	
	cursor:pointer;
  border-bottom:1px dotted #555;
}

.nori_wrapper input {
		margin-bottom:3px;
			}

.nori-btn {
	display:block;
	padding:6px;
	background-color:#ccc;
	border-radius:5px;
	margin:3px;
	cursor:pointer;
}

.nori-ajaxstatus {
  padding:12px;
  background-color:rgba(255,255,255,0.2);
  border-radius:6px;
}

.nori-generating {
  background-color:rgba(202, 130, 34, 0.4);
}

.nori-warning {
  background-color:rgba(186, 75, 49, 0.4);
}

.nori-success {
  background-color:rgba(202, 184, 34, 0.4);
}

#nori_section {
  position:fixed;
  top:47px;
  padding:6px 2% 24px;
  display:none;
  background:#444 url(imgs/blackorchid.png) repeat;
  width:96%;
  z-index:7;
  box-shadow:0 1px 4px #444;
  color:#f0f0f0;
}

.nori-css.nori_snippet .popover {
  width:336px;
}

.logged-in #nori_section {
  top:72px;
}

#nori_make_renderbox .hero-unit {
  padding:24px 60px 60px 60px;
}

#nori_make_renderbox h1 {
  margin-bottom:24px;
  font-size:46px;
  font-family:'PT Sans Narrow', sans-serif;
  font-weight:normal;
}

.nori_wrapper p {
  margin-bottom:12px;
}

#nori_make_renderbox {
	width:960px;
  margin:16px auto 0; 
}

#nori_make_renderbox .nori_wrapper {
  margin:24px 0;     
}

#nori_make_renderbox p.updatedorder {
  margin:6px;
  color:#C44701;
}

#nori_make_renderbox p {
  margin-bottom:6px;
  font-size:16px;
}

#nori_make_renderbox ul.nori_articlelist li {
  font-size:16px;
  margin:0 0 5px 0;
}

#nori_make_renderbox .legend p {
  font-size:14px;
  font-style:italic;
  color:#ccc;
}

.made-pdf h3 {
	font-size:18px;
}

.storesel {
  display:block;
  width:100px;  
}

.nori_snippet {
  float:left;
  width:426px;  
  margin-left:0;
  margin-top:-5px;
  background:#444343 url(imgs/blackorchid.png);
  border-right:1px solid #282828;
  border-left:1px solid #282828;
  padding-bottom:0;
}

.nori-css p.norititle {
  padding:9px 12px;  
  color:white;
  font-weight:bold;
  font-size:12px;
  overflow:hidden;
  text-align: center;
  width:136px;
  float:left;
  margin:0 10px 0 0;    
}

.norititle span {
  display:block;  
}

.norititle .norisub {
  font-size:10px;
  font-weight:normal;
}

.nori_snippet .btn,
.nori_snippet a.btn,
a.norimake-btn
 {
  margin:9px 5px 0 0;
}

.norititle {  
  margin-right:5px;
}

.countcont {
  font-size:10px;
  margin-right:5px;
  display:inline-block;
}

.nori-css .hidden {
  display:none;
}

.nori-css .popover {
  color:#333;
}

.nori-css .popover-content ul {
  margin:0;
}

.noricounter {
  font-weight:bold;
}

/*! jQuery UI - v1.9.2 - 2012-12-05
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.progressbar.css
* Copyright (c) 2012 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }

